aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
cryptg
emoji
googletrans
google_images_download
gsearch
gtts
hachoir
Pillow

psycopg2
pySmartDL
python-barcode
python-magic
regex
requests
selenium
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
google-api-python-client
oauth2client
httplib2
