aiohttp
beautifulsoup4
cfscrape
cryptg
googletrans
google_images_download
gsearch
gtts
hachoir
Pillow
psycopg2
regex
requests
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
git+https://github.com/ahupp/python-magic
